body {
background-color: #00b2ff;
color: #2e3192;
}

.toggleColor {
  background-color: #ffea2c;
}

.navcont {
  padding: 1rem;
  text-align: center;
  align-items: center;

}

.container {
  padding-top: 2%;
  text-align: center;
}
.logocaput {
  align-items: center;
  padding: 1rem;
}

.logocaput a {
  color: #ffe400;
  text-decoration: none;
}

.logocaput a:hover {
  color: #ffe600;
  text-decoration: underline;
}

.logocaput img {
  margin: 0 0.5rem 0 0, 5rem;
}

.logocaput a {
  font-size: 1.2em;
  margin: 0 0.5rem 0 0.5rem;
}

@media (min-width: 576px) {
  .navcont {
    display: none;
  }
}

@media (max-width: 576px) {
  .navcont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logocaput {
    display: none;
  }
}

.headerlogo {
  width: 10em;
  height: auto;
  transition: transform 0.3s ease, color 0.3s ease;
}

.headerlogo:hover {
  cursor: pointer;
  transform: scale(1.1);
}