body {
background-color: #00b2ff;
color: #2e3192;
}

.toggleColor {
  background-color: #ffea2c;
}

.navcont {
  padding: 0.5rem;
  display: flex;
}

.container {
  padding-top: 1%;
}
.logocaput {
  align-items: center;
  padding: 1rem;
}

.logocaput a {
  color: #ffe400;
  text-decoration: none;
}

.logocaput a:hover {
  color: #ffe600;
  text-decoration: underline;
}

.logocaput img {
  margin: 0 0.5rem 0 0, 5rem;
}

.logocaput a {
  font-size: 1.2em;
  margin: 0 0.5rem 0 0.5rem;
}

@media (min-width: 576px) {
  .navcont {
    display: none;
  }
  .headerlogo {
    display: none;
  }
}

@media (max-width: 576px) {
  .navcont {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
  }
  .logocaput {
    display: none;
  }
  .headerlogo {
    display: none;
    padding: 0;
  }
  .headerlogo_px {
    width: 13em;
    height: auto;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .logogiratorio_px {
    z-index: -2;
    position: absolute;
    top: 5%;
    left: 58%;
    width: 15%;
    object-fit: cover;
    overflow: hidden;
    animation: rotate-bg 18s linear infinite;
  }
  .sublogo_px {
    padding-top: 2em;
    padding-bottom: 0;
    width: 17em;
  }
}

.headerlogo {
  width: 10em;
  height: auto;
  transition: transform 0.3s ease, color 0.3s ease;

}

.headerlogo:hover {
  cursor: pointer;
  transform: scale(1.1);
}