.armado-texto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55em;
  width: 90%;
}

.tit-presentacion {
padding-top: 2%;
padding-bottom: 2%;
}

.armado-texto h1 {
  font-size: 6em;
  font-weight: 800;
  color: #ffe400;
  position: relative;
}

.texto-presentacion {
  text-align: justify;
  width: 38%;
  font-size: 1em;
  padding: 4%;
}

.texto-presentacion p {
  font-size: 1.1em;
}

.img-rot-fondo {
  position: absolute;
  /* Posiciona la imagen en el fondo */
  top: 110%;
  left: 0;
  width: 20%;
  /* Asegura que ocupe todo el ancho */
  object-fit: cover;
  /* Ajusta la imagen sin deformarla */
  z-index: -1;
  /* Envía la imagen al fondo */
  overflow: hidden;
  animation: rotate-bg 18s linear infinite;
  /* Aplica la animación de rotación */
}

@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.div-presentacion {
  margin-top: 7rem;
  margin-bottom: 7rem;
  max-width: 99%;
}

.cont-perfiles {
  display: flex;
}

.div-perfiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil h5 {
  font-size: 1.3em;
}

.txt-profiles {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.photo-perfil {
  width: 175px;
  height: auto;
  padding: 0.6em;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

}

@media (max-width: 576px) {
  .sub_division {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff2cf;
  }

  .decoracion_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .imagenes_decorativas {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: end;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .iddec_1 {
    animation: rotate-bg 40s linear infinite;
    animation-direction: reverse;
  }

  .imagenes_decorativas img {
    height: 100%;
    width: 100%;
  }

  .div-perfiles {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pre_proyectos {
    width: auto;
    height: 50em;
    background-color: #fff2cf;
  }

  .armado-texto {
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }

  .tit-presentacion {
    width: 100%;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    background-color: #ffe400;

  }

  .texto-presentacion {
    font-size: 0.8em;
    width: 100%;
    color: #2e3192;
    background-color: #fff2cf;
    justify-content: center;
  }

  .cont-perfiles {
    flex-direction: row;
  }

  .perfil {
    flex-direction: column;
  }

  .perfilLoreto {
    background-color: #2e3192;
    color: #00b2ff;
  }

  .redes-sociales-loreto {
    color: #00b2ff;
  }

  .ornamentos {
    display: flex;
    flex-direction: column;
  }

  .ornamento1 {
    width: 100%;
  }

  .ornamento2 {
    background-color: #2e3192;
  }
}